@font-face {
  src: url("slkscrb.ttf");
}

.root {
  -fx-focus-color: transparent;
  -fx-font-family: "silkscreen";
  -fx-font-size: 13.0px;
}

.background {
  -fx-background-color: #1d1d1d;
}

.separator .line {
  -fx-border-color: #ffffff;
}

.button {
  -fx-background-color: derive(#1d1d1d, 20.0%);
  -fx-text-fill: #ffffff;
}

.button:hover,
.button:selected {
  -fx-background-color: #ffffff;
  -fx-background-insets: 0.0px 0.0px -1.0px 0.0px, 0.0px, 1.0px, 2.0px;
  -fx-background-radius: 5.0px, 5.0px, 4.0px, 3.0px;
  -fx-text-fill: derive(#1d1d1d, 20.0%);
}

.label {
  -fx-text-fill: #ffffff;
}

.cellPane {
  -fx-background-color: derive(#1d1d1d, 20.0%);
}

.alive {
  -fx-background-color: #ffffff;
}
