@font-face {
	src: url("slkscrb.ttf");
}

.root {
	-fx-font-family: "silkscreen";
	-fx-font-size: 13.0px;
	-fx-focus-color: transparent;
}

.background {
	-fx-background-color: #1d1d1d;
}

.separator .line {
	-fx-border-color: #ffffff;
}

.button {
	-fx-background-color: derive(#1d1d1d, 20.0%);
	-fx-text-fill: #ffffff;
}

.button:hover,
.button:selected {
	-fx-background-color: #ffffff;
	-fx-text-fill: derive(#1d1d1d, 20.0%);
	-fx-background-insets: 0.0px 0.0px -1.0px 0.0px, 0.0px, 1.0px, 2.0px;
	-fx-background-radius: 5.0px, 5.0px, 4.0px, 3.0px;
}

.label {
	-fx-text-fill: #ffffff;
}

.cell {
	-fx-background-color: derive(#1d1d1d, 20.0%);
}

.alive {
	-fx-background-color: #ffffff;
}